@inherits AtlasComponentBase

<h3>AtlasChatBox</h3>

<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>
<p>Test message</p>

@code {
    
}